{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post"
            action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>

        {% if form.errors %}
          <p style="color: red;"> * {{ form.errors.as_text|slice:"13:" }}</p>
        {% endif %}

        <label for="id_username" class="sr-only">用户名:</label>
        <input name="username" type="text" id="id_username" class="form-control" placeholder="用户名" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input name="password" type="password" id="id_password" class="form-control" placeholder="密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login"> 登 录 </button>
        <input type="hidden" name="next" value="{% url 'account_home' %}" />
      </form>

    </div>

  </body>
</html>
